
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="http://localhost:4200/areaAdministrador" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-angle-right"></i>Clinica</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a routerLink="listar" class="nav-item nav-link active"  style="color: rgb(0, 63, 252);">Solicitud especialidades</a>
                <a routerLink="login" class="nav-item nav-link">Solicitud Examenes</a>
                <a routerLink="cargaDatos" class="nav-item nav-link">Carga datos</a>
                <a href="contact.html" class="nav-item nav-link">Monetizacion</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Reportes</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item"><button type="submit" class="btn btn-light"
                                (click)="decirHola()">Historial de cobro</button></a>
                    </div>
                </div>
            </div>
            <a class="btn btn-danger py-2 px-4 d-none d-lg-block">Log Out</a>
        </div>
    </nav>
</div>

<!-- Navbar End -->
<!-- Header Start -->

